.header {
    padding: 15px 20px;
    background-color: #294E80;
}

.header-text {
    font-size: 2em;
    color: #fff;
}

.game-type {
    padding: 5px;
    border-radius: 2px;
    font-size: 1em;
}
